doctype html
html
    -
        //- if first condition is evaluated to true, then the block happens, otherwise the othe owe happens
        //- if taskTarget value is equal to 'tmp',
        var baseUrl = taskTarget === 'tmp' ?
            //- then we assign to baseUrl the value of '/'
            '/' :
            //- and if taskTarget is anything else than 'tmp'
            //- we assign the value of '/quick-blog/' to baseUrl
            '/quick-blog/'
        //-   var baseUrl = 'https://st3ve89.github.io/quick-blog/' 
    block config
    head
        title=title
        meta(name="description" ,content=description)
        if config.entry.css.inline
        link(rel="stylesheet", href=`${inlinePath}`, inline)
        //- we remove that slash so it doesnt become double
        //- link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
        //- <link rel="stylesheet" href="/quick-blog/style.css">
    body
        include ../welcome/welcome

        //- this will create <div id="continue"></div>
        //- cool so far? yes just forgot to put it here -.- Have fun! thanks !!
        #continue
        
        .container
            block content
            include ../menu/menu
            include ../footer/footer
link(rel="stylesheet", href=`${baseUrl}style.css`)