extend _component/layout/base
block config
    -
        var title='About Quick Blog'
        var description='Quick Blog is one of the quickest and fastest tool for writing blog in the word'
block content
        h1=title
        p=description
        